/* CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.first-jumbo {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url('./images/jumbo1.jpg');
    background-size: 100% auto;
}
.second-jumbo {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url('./images/jumbo2.jpg');
    background-size: 100% auto;
}
.third-jumbo {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)),
    url('./images/jumbo3.jpeg');
    background-size: 100% auto;
}

h1 {
    color: rgb(255, 68, 34);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.main {
    background-color: rgb(250, 250, 250);
}

/* small screens */
@media only screen and (max-width: 740px) {
    .top-bar {
        position: fixed;
        top: 0px;
        z-index: 1000;
        height: 50px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-width: 1px;
        border-style: solid;
        border-color: lightgray;
        border-right-width: 0px;
        border-top-width: 0px;
        border-left-width: 0xp;
    }
    .top-bar .left {
        color: white;
        width: 100px;
        background: linear-gradient(145deg,magenta , rgb(255, 68, 34));
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
    }
    .top-bar .left a {
        color: white;
        font-family: 'Seymour One', sans-serif;
    }
    .top-bar .right {
        color: green;
        display: flex;
        flex-direction: row;
    }
    .top-bar .right * {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        width: 50px;
    }
    .jumbo {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-row-gap: 30px;
        padding: 10px;
        margin-top: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .first-jumbo, .second-jumbo, .third-jumbo {
        height: 145px;
        width: 98%;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .jumbo h3 {
        margin: 5px;
        font-weight: bolder;
        font-size: 20px;
        text-shadow: 1px 1px black;
    }
    .jumbo p {
        margin: 5px;
        font-size: 14px;
        color: lightgray;
    }
    .latest-news {
        width: 100%;
        padding: 10px;
        height: 75vh;
        max-height: 570px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .latest-news .news-item {
        background-color: rgb(200, 200, 200);
        margin: 1px;
        width: 95%;
        
    }
    .funding-rounds {
        background-color: rgb(100, 100, 100);
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 30px;
        height: 50vh;
    }
    .funding-rounds .round {
        background-color: rgb(150, 150, 150);
        width: 95%;
        margin-top: 5px;
    }
    .everything-else {
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: auto;
        min-height: 75vh;
    }
    .everything-else * {
        background-color: lightgrey;
        width: 95%;
    }
}

/* universals */
/* just kidding top bar changes too */

/* .top-bar {
    background-color: black;
    width: 100%;
    height: 30px;
    position: static;
    top: 0;
}
.main {
    margin-top: 30px;
    width: 100%;
}
.nav {
    /* come back to the black bar */
    /* position: static;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: lightgreen;
} */

/* big screens */
@media only screen and (min-width: 740px) {
.jumbo {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 75vh;
    max-height: 560px;
}
.first-jumbo {
    background-color: rgb(200, 200, 200);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 65vw;
}
.second-jumbo {
    height: 200px;
    width: 300px;
    background-color: rgb(250, 250, 250);
    grid-column-start: 3;
    grid-column-end: end;
    height: 100%;
    width: 32vw;
}
.latest-news {
    width: 100%;
    height: 75vh;
    max-height: 570px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: (2, auto);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    /* keep playing */
    /* justify-content: space-evenly; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.latest-news .news-item {
    background-color: rgb(200, 200, 200);
    
}
.funding-rounds {
    background-color: rgb(100, 100, 100);
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    height: 50vh;
}
.funding-rounds .round {
    background-color: rgb(150, 150, 150);
}
.everything-else {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    min-height: 75vh;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.everything-else * {
    background-color: lightgrey;
}

}


.ads {
    width: 100%;
    height: 50vh;
    background-color: lightskyblue;
}